<!DOCTYPE html>
<html>
  <head>
    <title>Morbid Data Y'all!</title>
    <link rel='stylesheet' href='styles.css' />
  </head>
  <body>
    <ul class='state-buttons'>
    </ul>
    <div id='stats-holder'></div>

    <script type='text/html' id='stats-template'>
      <ul class='death-stats'>
        <li><strong>State:</strong> <span id='state-name'><%= stateName %></span></li>
        <li><strong>Ages 0-20:</strong> <span id='ages-0-20'><%= ages0_20_deaths %></span></li>
        <li><strong>Ages 21-34:</strong> <span id='ages-21-34'><%= ages21_34_deaths %></span></li>
        <li><strong>Ages 35+:</strong> <span id='ages-35-and-up'><%= ages35_and_up_deaths %></span></li>
        <li><strong>Male:</strong> <span id='male-deaths'><%= darwin_award_nominees %></span></li>
        <li><strong>Female:</strong> <span id='female-deaths'><%= female_deaths %></span></li>
      </ul>
    </script>

    <script type='text/html' id='state-button-template'>
      <li>
        <%= stateName %>
      </li>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js"></script>
    <script src='babelfish.js'></script>
    <script>MorbidData.start()</script>
  </body>
</html>
